body {
    background-image: url('https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000')

}

h1 {
    display: inline-flexbox;
    text-align: center
}



h2 {
    display:flexbox;
    font-size: xx-large;
    font-style: bold;

}

.getLifts {
    display: flex;
    padding: 15px, 15px;
    color: black ;
    background-color: ghostwhite ;
    outline: black;
    outline-style: double;
    font-size: medium;
    font-weight: bold;
    
}

.randomLift {
    display: flex;
    margin-top: 30px;
    padding: 15px, 15px;
    color: black ;
    background-color: ghostwhite ;
    outline: black;
    outline-style: double;
    font-size: medium;
    font-weight: bold;
}

div {
    display: inline-flexbox;
    align-content: space-evenly;
    box-sizing: content-box;
}