body {
    background-image: url('https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000')
    

}

h1 {
    display: flex;
    justify-content: center;
}


.goals {
    display: flex;
    justify-content: center;

}

.lifts {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.getLifts{
    padding: 5px;
    border: 5px solid rgb(33, 46, 226);
    background-color: ghostwhite;
    font-size: large;
    font-weight: bold
    
}


.textInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

